---
layout: default
---

<div class="row col-md-3">
	
	<img style="border-radius: 25px;" src="danae.jpg" alt="danae">
	<h1>Dana&euml; Metaxa</h1>
	<p style="text-align:center;">
		Assistant Professor
		<br>Computer & Information Science
		<br>University of Pennsylvania
	</p>
		<br>
	<div class="row text-center" id="contact-items">
		<a style="padding-right:20px !important" href="mailto:metaxa@upenn.edu"><i class="fa fa-envelope-o fa-2x"></i></a>
		<a style="padding-right:20px !important" href="content/CV.pdf"><i class="ai ai-cv ai-2x"></i></a>
		<a style="padding-right:20px !important" href="https://scholar.google.com/citations?user=6pA2wn4AAAAJ"><i class="ai ai-google-scholar-square ai-2x"></i></a>
		<a href="https://www.twitter.com/DrMetaxa"><i class="fa fa-twitter fa-2x"></i></a>
	</div>
	<br>
	<!-- <h3 style="text-align:center;">Updates</h3>
	<p class="update">
		<strong>08/2022</strong> - I'll be teaching an introductory HCI special topics course (399) at Penn for undergraduates this fall.
	</p> -->
</div>

<div style="margin-left:30px" class="col-md-8 blurb">
    <div style="text-align:justify">{{ content }}</div>
</div>

