---
layout: default
---

<div class="row col-md-4">
	
	<img style="border-radius: 35px;" src="metaxa.png" alt="metaxa">
	<h1 style="text-align:center;">Dana&eacute; Metaxa</h1>
	<p style="text-align:center;">
		Ελληνικά: Δαναός Μεταξάς
		<br><br>Raj & Neera Singh Assistant Professor
		<br>Computer & Information Science
		<br>University of Pennsylvania
	</p>
		<br>
	<div class="row text-center" id="contact-items">
		<a style="padding-right:20px !important" href="mailto:metaxa@upenn.edu"><i class="fa fa-envelope-o fa-2x"></i></a>
		<a style="padding-right:20px !important" href="content/Metaxa_CV.pdf"><i class="ai ai-cv ai-2x"></i></a>
		<a style="padding-right:20px !important" href="https://scholar.google.com/citations?user=6pA2wn4AAAAJ"><i class="ai ai-google-scholar-square ai-2x"></i></a>
		<!-- <a style="padding-right:20px !important" href="https://www.twitter.com/DrMetaxa"><i class="fa fa-twitter fa-2x"></i></a> -->
		<a rel="me" href="https://hci.social/@metaxa"><i class="fa fa-mastodon fa-2x"></i></a>
	</div>
	<h2 style="text-align:left;">News</h1>
	<p style="text-align:left;">
		<ul>
		<li><strong>06/2025</strong> - I'm extremely happy to announce that I was awarded an NSF CAREER award!</li>
		<br>
		<li><strong>11/2024</strong> - Dr. Sorelle Friedler and I are looking for a postdoctoral scholar for an 18-mo postdoc on civil rights AI audits. (Call closed; welcome <a href="http://emmalurie.github.io">Emma</a>!)</li>
		<br>
		<li><strong>06/2024</strong> - I will be one of the General Chairs for FAccT 2025, in Athens, Greece.</li>
		<br>
		<li><strong>04/2024</strong> - All four (!) of PennHCI's NSF GRFP applicants were funded this year! Huge congratulations to our PhD students Princess, Ro, Hita, and post-bac RA (incoming Harvard PhD student) Lena.</li>
	</ul>
	</p>
</div>

<div style="margin-left:30px" class="col-md-8 blurb">
	<h2 style="text-align:left;">Bio</h1>
    <div style="text-align:justify">{{ content }}</div>
</div>